<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
<div id="remote">
    <h1>Alex's XKCD Remote</h1>
    <div class="button" id="flip_button" onclick="flip()">Flip <br>↪️</div>
    <div class="button" id="random_button" onclick="random()">Random Comic<br>🔀</div>
</div>

</body>
</html>
